.bgCover{
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: auto;
width: auto;
}

.bgTransparent{
    background-color:transparent;
    border: white 2px solid; 
}
.bgblue{
    background-color: #bebbbb46;
    color: black;
}
.bgdarkblue{
    background-color: white;
    border-color:#023047;
    color: #023047;
}