.bgCover{
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: auto;
width: auto;
}

.bgTransparent{
    background-color:transparent;
    border: white 2px solid; 
}