.marginCenter{
    margin: 0 auto;
}
.marginCenter2{
    margin: 0 20%;
}
.marginCenter3{
    margin: 0 30%;
}
.marginTop1{
    margin-top: 10%;
}
.margin{
    margin: 0 5%;
}
.marginBottom{
    margin-bottom: 5%;
}
