.yellow{
    color: $yellow;
}
.white{
    color: white;
}
.black{
    color:$black;
}
.lightgray{
    color:$lightgray;
}
.darkgray{
    color:$darkgray;
}
.orange{
    color:$orange;
}
.coral{
    color:$coral;
}
.darkblue{
    color : $darkblue
}