.textBold{
    font-weight: bolder;
}
.alignTextCenter{
    text-align: center;
}
.decorationNone{
    text-decoration: none;
}


.alignTextJustifyCenter{
    text-align: justify;
    text-align-last: center;
}
.alignTextJustify{
    text-align: justify;
}
.alignTextRight{
    text-align:right;
}
.alignTextEnd{
    text-align: end;
}